.home {

<<<<<<< HEAD
    .selectButton {
        width: 150px;
        margin: 100px
=======
    .selectButton{
        width: 150px;
        display: flex;
        margin-top: 50px;
>>>>>>> 58a2c9c679722ae3e24884f2a88f90f91e82a39a
    }
}
